extends layout

block styles
    style.
        body {
            color: #333;
        }
        .grocery-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .grocery-list li {
            padding: 8px 16px;
        }
        .complete {
            color: #bbb;
            text-decoration: line-through;
        }

block content
    ul.grocery-list
        li Avocado
        li Tomato
        li 1 Spaghetti Squash
        li 2 Large Carrots
        li 2 Stalks Celery
        li Asparagus
        li Green Onions
        li Crimini Mushrooms
        li Fresh thyme
        li Fresh dill
        li 3 potatoes
        li 3 Lg Yellow Onions
        li 3 Red Bell Peppers
        li 1 large can crushed tomatoes
        li Refried Beans
        li 1 can canellini beans
        li 1 can black eyed peas
        li Olive Oil
        li Sesame Oil
        li Cous Cous
        li Smoked paprika
        li Star anise
        li Better than bouillon
        li Leslee is a Ground Turky
        li 1 lb boneless skinless chicken breast
        li Unsw almond milk
        li Toothpaste

block scripts
    script.
        (function () {
            var i = 0, items = $('.grocery-list li');
            window.scrollTo(0, 1); // Hide the address bar

            $(items).each(function () {
                i++;
                $(this).wrapInner('<label for="g' + i + '" />').prepend('<input type="checkbox" id="g' + i + '" />');
            }).find('input').click(function () {
                var str = "";
                if($(this)[0].checked) {
                    $(this).parent().addClass('complete');
                } else {
                    $(this).parent().removeClass('complete');
                }
            });
        }());