.card
  background-color: #fff
  box-shadow: 1px 2px 0 1px $grayLighter
  box-sizing: border-box
  display: flex
  flex-direction: column
  min-height: 100%
  padding: 20px 30px

  .card-title
    margin-top: 0
    margin-bottom: 0
    color: $blueDarkest

  .card-subtitle
    color: $gray
    font-weight: normal
    margin-top: 2px
    margin-bottom: 0

  .divider
    background: 0
    border: 0
    border-bottom: 1px solid $grayLighter
    margin: 5px -30px 10px

  .card-body
    flex-grow: 1
    margin-bottom: 15px

  .card-tags
    list-style: none
    margin: 0
    padding: 0

  .card-tag
    color: $gray
    display: inline-block

    &:before
      content: "#"
      color: $grayLight
