@import "../variables"

.logo
  margin-top: 0
  margin-bottom: 0

.logo-link
  color: #fff
  display: inline-block
  font: 42px/50px $fancyFont
  padding: 2px 0
  text-decoration: none

  &:hover
  &:focus
    text-decoration: none
    text-shadow: 2px 2px 0 $blueDarkest, 3px 3px 0 rgba(255,255,255,0.25)

  &:active
    padding-top: 4px
    padding-bottom: 0
