.profile-card
  margin-top: 30px
  text-align: center

.profile-img
  background: #fff
  border: 5px solid $blue
  border-radius: 50%
  box-sizing: border-box
  max-width: 300px
  padding: 5px
  width: 80%

  @media (min-width: 720px)
    padding: 8px

.profile-title
  color: $blueDarker
  font-family: $fancyFont
  font-size: 44px
  font-size: 11vw
  margin: -70px 0 0
  shadow: $blue #fff 1px

  @media (min-width: 560px)
    font-size: 8vw
    shadow: $blue #fff 2px

  @media (min-width: 720px)
    font-size: 64px

.section-title
  font-family: $fancyFont
  margin: 0 0 30px
  text-align: center

.short-bio
  background-color: $blueDarkest
  margin-top: 20px
  padding: 20px

  .btn-light
    font-size: 18px

.profile-desc
  color: $grayLightest
  font-size: 18px
  font-style: italic

  @media (min-width: 560px)
    font-size: 22px

.project-cards
  background-color: $grayLightest
  padding: 20px

  .section-title
    color: $grayDark

.project-card-list
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  list-style: none
  margin-top: 0
  margin-bottom: 0
  padding: 0

  .project-card-item
    margin-bottom: 30px
    width: 100%

    @media (min-width: 600px)
      width: 85%

    @media (min-width: 990px)
      width: 46%

  ul
    list-style: disc
