form.shaded
    background #fcfcfc
    padding 20px

fieldset
    border 0
    margin 0
    padding 0

legend
    border-bottom 1px solid #ddd
    margin-bottom 8px
    padding 2px 0
    width 100% // why is this necessary when it's already display block?

input
    display block
    margin-bottom 16px
    padding 2px

label
    display block

form.inline
    .input-group
        float left
