form.shaded
    background #fcfcfc
    padding 20px

fieldset
    border 0
    margin 0
    padding 0

legend
    padding 4px 0

input
    display block
    margin-bottom 16px
    padding 2px

label
    display block

form.inline
    .input-group
        float left