form.shaded
    background #fcfcfc
    padding 20px

fieldset
    border 0
    margin 0
    padding 0

legend
    border-bottom 1px solid #ddd
    box-sizing border-box
    margin-bottom 8px
    padding 2px 0
    width 100%

input
    box-sizing border-box
    display block
    margin-bottom 16px
    padding 2px

label
    display block

form.inline
    @media (min-width: 600px)
        .input-group
            box-sizing border-box
            float left
            padding-right 30px
