@import "../variables"
@import "../mixins"

// the full portfolio list
.portfolio
    background #444
    padding-top 20px

.portfolio-title
    color #fff
    font-family $fancyFont
    margin 0
    text-align center

.portfolio-list
    list-style none
    padding 20px

    @media (min-width: 660px)
        display flex
        flex-wrap wrap

.portfolio-item
    box-shadow 0 0 1px rgba(0,0,0,0.3)
    margin 0 10px 20px
    min-height 180px
    position relative

    @media (min-width: 660px)
        flex 1 0 auto
        width 300px

.portfolio-item-img
    // always full width, even if the container is bigger than the image
    width 100%

.portfolio-item-noimage
    background $green
    color #fff
    position absolute
    width 100%

    &:before
        content "\e603"
        display block
        font 42px Icomoon
        line-height 180px
        text-align center

.portfolio-item-title
    background #fff
    background rgba(255,255,255,0.9)
    bottom 0
    color $green
    left 0
    margin 0
    padding 8px
    position absolute
    right 0

// individual portfolio items on the details pages

.portfolio-details-header
    background #444
    padding 20px

.portfolio-details-title
    color #fff
    font-family $fancyFont
    margin 8px 0

    @media (min-width: 800px)
        float left

.portfolio-details-date
    color #ccc
    margin 8px 0

    @media (min-width: 800px)
        float right
