@charset "UTF-8";

// import the basics
@import "variables";
@import "normalize";
@import "fonts";

// import components
@import "components/utils";
@import "components/logo";
@import "components/navbar";

.shadow(@shadowColor) {
    text-shadow: 1px 1px 0 @shadowColor;
}

.global-head {
    background: @blue;

    @media (min-width: 800px) {
        border-bottom: 2px solid @blueDarker;
    }
}

.about {
    background: #eee;
    border-top: 2px solid #ddd;
    padding: 12px 0;
}
