@charset "UTF-8"

// import the basics
@import "variables"
@import "mixins"
@import "normalize"
@import "fonts"

body
  display: flex
  flex-direction: column
  min-height: calc(100vh - 50px)
  padding-top: 50px

  .main
    flex: 1

a
  color: $blue
  text-decoration: none

  &:hover
    text-decoration: underline

.displ-flex
  display: flex

.items-center
  align-items: center

.ml-auto
  margin-left: auto

.no-shrink
  flex-shrink: 0

.btn
  border-radius: 3px
  display: inline-block
  padding: 8px 16px
  transition: all $animationSpeed

  &:hover
    text-decoration: none

  &-with-icon
    display: flex
    align-items: center

    i
      margin-right: 4px
      font-size: 1.3em

  &-light
    background-color: $grayLightest
    color: $blue

    &:hover
      box-shadow: 0 0 0 4px rgba(255,255,255,0.4)
      background-color: $fff
      color: $blueDarker

.subhead
  background: #444
  margin-bottom: 20px
  padding-top: 20px
  padding-bottom: 20px

  h1
    color: #fff
    margin-top: 0
    margin-bottom: 0

// import components
@import "components/utils"
@import "components/logo"
@import "components/form"
@import "components/navbar"
@import "components/navpill"
@import "components/profile"
@import "components/portfolio"
@import "components/footer"
