$orange = #e93
$orangeDarker = desaturate(darken($orange, 12%), 5%)
$orangeDarkest = desaturate(darken($orange, 16%), 10%)

$blue = #49a
$blueDarker = darken($blue, 8%)
$blueDarkest = darken($blue, 16%)

$green = #9c5
$greenDarker = darken($green, 16%)

$purple = #95c
$purpleDarker = darken($purple, 16%)

$fancyFont = Norwester, sans-serif
$animationSpeed = 0.33s
