---
layout: default
---

<figure class="profile-card fixed-content">
  <img class="profile-img" src="/assets/images/mm.jpg" alt="Michael Martin-Smucker">
  <figcaption class="profile-caption">
    <h2 class="profile-title">Michael Martin&#8209;Smucker</h2>
    <p class="profile-desc">I develop web applications at Pellucid Analytics in Boulder, CO. In my free time I work on Node.JS projects and Haxe games.</p>
  </figcaption>
</figure>

{% include portfolio.html title="Featured Projects" count=8 %}
