---
layout: default
---

<figure class="profile-card fixed-content">
  <img class="profile-img" src="/assets/images/mm.jpg" alt="Michael Martin-Smucker">
  <figcaption class="profile-caption">
    <h2 class="profile-title">Michael Martin&#8209;Smucker</h2>
  </figcaption>
</figure>

<section class="short-bio">
  <div class="fixed-content displ-flex items-center">
    <p class="profile-desc">I'm a full-stack developer with a passion for the front-end web development and typed, functional programming.</p>
    <div class="ml-auto no-shrink">
      <a class="btn btn-light btn-with-icon" href="https://github.com/mlms13">
        <i class="icon-github"></i>
        <span>mlms13</span>
      </a>
    </div>
  </div>
</section>

{% capture keys %}
{% for project in site.data.projects %}
  {% assign key = project | first %}
  {% assign item = site.data.projects[key] %}
  {% if item.description %}
    {{ key }}
  {% endif %}
{% endfor %}
{% endcapture %}

{% assign sorted_keys = keys | split:' ' | sort | reverse %}

{% if sorted_keys.size > 0 %}
<section class="project-cards">
  <div class="fixed-content">
    <h1 class="section-title">Notable Projects</h1>
    <ul class="project-card-list">
      {% for key in sorted_keys limit:6 %}
        {% assign item = site.data.projects[key] %}
        <li class="project-card-item">
          {% include card.html project=item %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}



{% capture keys %}
{% for project in site.data.projects %}
  {% assign key = project | first %}
  {% assign item = site.data.projects[key] %}
  {% if item.favorite %}
    {{ project | first }}
  {% endif %}
{% endfor %}
{% endcapture %}

{% assign sorted_keys = keys | split:' ' | sort | reverse %}

{% include portfolio.html title="Featured Projects" keys=sorted_keys limit=8 %}
