include mixins/portfolio-list

extends layout

block content
    figure.profile-card.fixed-content
        img.profile-img(src="/images/mm.jpg",alt="Michael Martin-Smucker")
        figcaption.profile-caption
            h2.profile-title Michael Martin&#8209;Smucker
            p.profile-desc I develop web applications at Pellucid Analytics in Boulder, CO. In my free time I work on Node.JS projects and Haxe games.
    +portfolio('Featured Projects')
