doctype html
html(lang="en-us", class="no-js")
    head
        meta(charset="UTF-8")
        title= title || "Michael Martin-Smucker -- Code and Design for the Modern Web"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/main.css")
        block styles
        script(src="/js/modernizr.js")
        script.
            yepnope({
                test: Modernizr.mq('only all'),
                nope: ['js/respond.min.js']
            });
    body
        header.global-head
            h1.fixed-content.logo
                a.logo-link(href="http://" + baseUrl) MLMS
        nav.navbar
            ul.navbar-list.clearfix
                li.navbar-item
                    a.navbar-link(href="http://" + baseUrl)
                        i.navbar-icon.icon-home
                        span.navbar-text Home
                li.navbar-item
                    a.navbar-link(href="http://" + baseUrl + "/portfolio")
                        i.navbar-icon.icon-pictures
                        span.navbar-text Portfolio
                li.navbar-item
                    a.navbar-link(href="mailto:mlmartin13@gmail.com")
                        i.navbar-icon.icon-envelope
                        span.navbar-text Email
        block content
        footer.global-foot
            .fixed-content
                section.social
                    ul.unstyled
                        li.social-item: a(href="https://github.com/mlms13")
                            i.icon-github
                            span.sr-only Github
                        li.social-item: a(href="http://stackoverflow.com/users/388639/michael-martin-smucker")
                            i.icon-stack-overflow
                            span.sr-only Stack Overflow
                        li.social-item: a(href="http://codepen.io/mlms13/")
                            i.icon-codepen
                            span.sr-only Codepen
                        li.social-item: a(href="https://twitter.com/mlms13")
                            i.icon-twitter
                            span.sr-only Twitter
                p.copyright
                    | &copy; 2014 Michael Martin-Smucker
        script(src="/js/all.js")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49494304-1', 'martinsmucker.com');
            ga('send', 'pageview');

        block scripts