extends rotmg

block styles
    style.
        input { width: 100%; }
        .stat { display: block; }
       
        #suggestion {
            background: #fff;
            border: 1px solid #aaa;
            border-top: 0;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
            display: none;
            padding: 0;
            position: absolute;
            text-align: left;
        }
        #suggestion ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        #suggestion li {
            cursor: default;
            padding: 1px 6px;
        }
        #suggestion li.selected {
            background: #0ad;
            color: #fff;
        }
        @media (min-width: 600px) {
            .input-group { width: 25%; }
            #result > div {
                float: left;
                width: 50%;
            }
        }

block subcontent
    section.fixed-content
        form(action="#" autocomplete="off" class="clearfix" class="inline shaded")
            .clearfix
                .input-group
                    label(for="class") Class:
                    input(id="class" autocomplete="off" placeholder="e.g. Knight")
                .input-group
                    label(for="level") Level:
                    input(id="level" type="number" min="1" max="20")
                .input-group
                    label(for="baseHP") Base HP:
                    input(id="baseHP" type="number")
                .input-group
                    label(for="baseMP") Base MP:
                    input(id="baseMP" type="number")
        #result.clearfix
            h1 Enter info about your character
            p#intro When you're rolling for a good character, this tool will help you compare your current character's stats to the average for its class.

block scripts
    script(src="/js/autocomplete.js")
    script(src="/js/roll.js")
    script.
        var calc = new RollCalc();
        calc.initialize();